<!-- navigation.html -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  {% if session['loggedin'] %}
    <a class="navbar-brand" href="{{ url_for('dashboard') }}">FileSharing DMBS App</a>
    {% else %}        
    <a class="navbar-brand" href="#">FileSharing DBMS App</a>

    {% endif %}


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if session['loggedin'] %}
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('search') }}">Search</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('manageusers') }}">Manage Users</a>
      </li>        
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
      </li>           
          {% else %}        
        <li class="nav-item active">
          <a class="nav-link " href="{{ url_for('login') }}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>