<!DOCTYPE html>
<html>
<head>
	<title>Notification Center</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	{% include 'navigation.html'%}    

	<div class="container mt-5">
		<h1>Notification Center</h1>
		<hr>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Type</th>
					<th>Message</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Reminder</td>
					<td>Don't forget to submit your assignment.</td>
					<td>May 8, 2023 10:00am</td>
				</tr>
				<tr>
					<td>Announcement</td>
					<td>The company picnic has been rescheduled.</td>
					<td>May 7, 2023 3:45pm</td>
				</tr>
				<tr>
					<td>Update</td>
					<td>Your account information has been updated.</td>
					<td>May 7, 2023 11:20am</td>
				</tr>
				<tr>
					<td>Alert</td>
					<td>Unauthorized access attempt detected.</td>
					<td>May 6, 2023 8:30am</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>