<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Profile</title>
  <!-- Load Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1>User Profile</h1>
    <div class="row">
      <div class="col-md-6">
        <h2>Personal Information</h2>
        <table class="table">
          <tbody>
            <tr>
              <th>Username:</th>
              <td>JohnDoe</td>
            </tr>
            <tr>
              <th>Email:</th>
              <td>johndoe@example.com</td>
            </tr>
            <tr>
              <th>Registration Date:</th>
              <td>2023-05-09 10:30:00</td>
            </tr>
            <tr>
              <th>Last Login Date:</th>
              <td>2023-05-10 09:45:00</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <h2>Additional Information</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget mauris eget augue lacinia ultricies id nec nulla. Pellentesque ut massa velit. Nulla tristique felis quis euismod congue. Fusce id tortor massa. Nam rhoncus ligula ac nunc pharetra fringilla.</p>
      </div>
    </div>
  </div>
  <!-- Load Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
