<!DOCTYPE html>
<html>
<head>
  <title>Upload File</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Upload File</h1>
    <hr>

    <form action="/uploadfile" method="POST" enctype="multipart/form-data">
      <div class="form-group">
        <label for="file">Select File:</label>
        <input type="file" class="form-control-file" id="file" name="file" required>
      </div>
      <button type="submit" class="btn btn-primary">Upload</button>
    </form>

  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
